<!DOCTYPE html>
<html>
<body onload="f()" style="background:url({{ MEDIA_URL }}media/main2.jpg); background-size:cover">

	<style>
	#par {
			background-color:Moccasin ;
			border:1px solid red;
			margin-top: 0px;
			margin-bottom: 20px;
			margin-right: 400px;
			margin-left: 400px;
	}


	</style>
	
	<div align="center">
	<form name="myForm" method="post" onsubmit="return false" >
		<div>{% if message %}
		   <strong>{{ message }}</strong>
		   {% endif %}
		</div>
		<div id = "par" style="font-size:70%;" align="center" >
		<font face="courier">{{harita}}</font>
		</div>
		<div>
		<button id="up" class="up" style="font-size:120%;" name="up" onclick="move('Mu')"/>Up</button>
		<button id="down" class="down" style="font-size:120%;" name="down" onclick="move('Md')"/>Down</button>
		<button id="right" class="right" style="font-size:120%;" name="right" onclick="move('Mr')"/>Right</button>
		<button id="left" class="left" style="font-size:120%;" name="left" onclick="move('Ml')"/>Left</button>
		<button id="center" class="center" style="font-size:120%;" name="center" onclick="move('C')"/>Center</button>

		<br/><p style="color:White; font-weight:bold">ID: 
		<input  id="attackId" style="font-size:120%;" type="text" name="number"/>
		<button id="att" style="font-size:120%;" name="att" onclick="attack()" />Attack</button>

		<br/>Air Attack:
		<input  id="airAttackId" style="font-size:120%;" type="text" name="airNumber"/>
		<button id="airAtt" style="font-size:120%;" name="airAtt" onclick="airAttack()"/>Air Attack</button>
		<br/>

		<button id="buyWc" style="font-size:120%;" name="war" onclick="buyWarcraft()"/>Buy Warcraft</button>
		<button id="buyWs" style="font-size:120%;" name="warship" onclick="buyWarship()"/>Buy Warship</button>
		<br/>

		<input type="checkbox" id="as" > Attacking Soldier
		<input type="checkbox" id="ds" > Defense Soldier<br>
		<input  id="soldierNumber" style="font-size:120%;" type="text" name="soldierNum"/>
		<button id="attackDefense" style="font-size:120%;" name="asds" onclick="asDS()"/>Buy Soldier</button>
		<br/>

		<input type="checkbox" id="impAttack" > Imporve Attack
		<input type="checkbox" id="impDefense" > Improve Defense<br>
		<button id="improve" style="font-size:120%;" name="asds" onclick="improvements()"/>Apply</button>
		</div>

		<div style="font-size:120%; color:White; font-weight:bold"> Command:
		<input id="comm" style="font-size:120%;" type="text" name="command"/>
		{% csrf_token %}
		<br/>
		<button id="submit" style="font-size:120%;" name="komut" value="Send" onclick="checkfunction(myForm)"/>Send</button>
		<b/>
		<div>{% if ad %}
		   <div id = "ad" style="color:White; font-weight:bold">Name: {{ ad }}</div>
		   <div id = "id" style="color:White; font-weight:bold">{{id}}</div>
		   {% endif %}
		</div>
		<div>{% if coin %}
		   <div id = "coin" style="color:White; font-weight:bold">Coin: {{ coin }}</div>
		   {% endif %}
		</div>			
		<div>{% if ed %}
		   <div id = "ed" style="color:White; font-weight:bold">Empire Defense: {{ ed }}</div>
		   {% endif %}
		</div>
		<div>{% if wood %}
		   <div id = "wood" style="color:White; font-weight:bold">Wood: {{ wood }}</div>
		   {% endif %}
		</div>
		<div>{% if iron %}
		   <div id = "iron" style="color:White; font-weight:bold">Iron: {{ iron }}</div>
		   {% endif %}
		</div>
		<div>{% if as %}
		   <div id = "asNum" style="color:White; font-weight:bold">Attack Soldier: {{ as }} ({{adg}})</div>
		   {% endif %}
		</div>
		<div >{% if ds %}
		   <div id = "dsNum" style="color:White; font-weight:bold">Defense Soldier: {{ ds }} ({{dsg}})</div>
		   {% endif %}
		</div>
	</form>
	<form method="post" action="/logout">
		<div style="font-size:120%; color:White; font-weight:bold"> Logout:
		<br/>
		<br/>
		<input style="font-size:120%;" type="submit" name="logout" value="Logout"/>
		{% csrf_token %}
		<br/>
	</form>
	</div>



	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>

	function f() {
		var str =  navigator.userAgent;
		if(str.indexOf("Firefox") > -1) {
		    document.getElementById("par").style.marginRight = "380px"
			document.getElementById("par").style.marginLeft = "380px"
		}
		else {
		    document.getElementById("par").style.marginRight = "400px"
			document.getElementById("par").style.marginLeft = "400px"
		}
	}

	var renkler = {'1':'Aqua', '2':'BlueViolet', '3':'Brown', '4':'Chartreuse', '5':'Crimson', '6':'DarkBlue', '7':'DarkGoldenRod', '8':'DarkGreen', '9':'DarkMagenta', '10':'DarkOrange', '11':'DarkTurquoise', '12':'DimGray', '13':'DeepPink', '14':'IndianRed', '15':'Gainsboro', '16':'Gold', '17':'Green', '18':'Indigo', '19':'Khaki', '0':'Maroon'};
	var used = [];

	function loadmap() {

		$(document).ready(function() {
			$.ajax({
				type : "GET",
				url: '/harita', 
				success: function (data) {
					if(document.getElementById("id").innerHTML == data.id) {
						/*var arr = data.harita.split(" ");

						document.getElementById("par").innerHTML = "";
						for(i=1; i<arr.length; i++) {
							var karakter;
							if(used.indexOf(arr[i]) >= 0) {
								karakter = arr[i].fontcolor(renkler[used.indexOf(arr[i]).toString()]);
							}						
							else {
								used.push(arr[i]);
								karakter = arr[i].fontcolor(renkler[used.indexOf(arr[i]).toString()]);
							}
				
							document.getElementById("par").innerHTML += karakter + " ";
						}	*/
						document.getElementById("par").innerHTML = data.harita;
						document.getElementById("par").style.fontFamily = "courier";	
						document.getElementById("ad").innerHTML = "Name: " + data.ad;
						document.getElementById("id").innerHTML = data.id;
						document.getElementById("coin").innerHTML = "Coin: " + data.coin;
						document.getElementById("ed").innerHTML = "Empire Defense: " + data.ed;
						document.getElementById("wood").innerHTML = "Wood: " + data.wood;
						document.getElementById("iron").innerHTML = "Iron: " + data.iron;
						document.getElementById("asNum").innerHTML = "Attack Soldier: " + data.as + "(" + data.asg +")";
						document.getElementById("dsNum").innerHTML = "Defense Soldier: " + data.ds + "(" + data.dsg + ")";
					}
				},
				complete : setTimeout(loadmap, 1000)				
			});
		});
	}


	function checkfunction(obj){
		var val = document.getElementById("comm").value;
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : val,
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}


	function move(obj){
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : obj,
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}

	function attack(){
		var val = document.getElementById("attackId").value;
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : ('Attack ' + val),
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}

	function buyWarcraft(){
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : 'Warcraft',
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}

	function airAttack(){
		var val = document.getElementById("airAttackId").value;
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : ('Air ' + val),
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}

	function buyWarship(){
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : 'Sea',
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}

	function asDS(){
		var val = document.getElementById("soldierNumber").value;
		var whichOne; 
		if(document.getElementById("as").checked == true && document.getElementById("ds").checked == true) {
			alert("Choose one");
			return;
		}
		else if(document.getElementById("as").checked == true) {
			whichOne = "AS ";
		}
		else if(document.getElementById("ds").checked == true) {
			whichOne = "DS ";
		}
		else {
			alert("Choose one");
			return;
		}
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : (whichOne + val),
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}

	function improvements(){
		var whichOne; 
		if(document.getElementById("impAttack").checked == true && document.getElementById("impDefense").checked == true) {
			alert("Choose one");
			return;
		}
		else if(document.getElementById("impAttack").checked == true) {
			whichOne = "Improve Attack";
		}
		else if(document.getElementById("impDefense").checked == true) {
			whichOne = "Improve Defense";
		}
		else {
			alert("Choose one");
			return;
		}
		$.ajax({ url: "/command",
		         type: 'POST',
		         data: {
		         		command : (whichOne),
		         		'csrfmiddlewaretoken': '{{ csrf_token }}'
		         		}
		});	
	}




	window.loadmap();

	</script>

</body>
</html>

